# Programming in Python for Data Science 

# Assignment 4: Basic Python

You can't learn technical subjects without hands-on practice. The assignments are an important part of the course. To submit this assignment you will need to make sure that you save your Jupyter notebook. 

Below are the links of 2 videos that explain:

1. [How to save your Jupyter notebook](https://youtu.be/0aoLgBoAUSA) and,       
2. [How to answer a question in a Jupyter notebook assignment](https://youtu.be/7j0WKhI3W4s).

### Assignment Learning Goals:

By the end of the module, students are expected to:

- Compare and contrast Python's key data types.
- Compare and contrast Python's key data structures. 
- Use python to determine the type and structure of an object.
- Demonstrate how to create data structures and convert them to another.
- Identify which operations can be applied to different data types and columns dtypes. 

This assignment covers [Module 4](https://prog-learn.mds.ubc.ca/en/module4) of the online course. You should complete this module before attempting this assignment.

Any place you see `...`, you must fill in the function, variable, or data to complete the code. Substitute the `None` and the `raise NotImplementedError # No Answer - remove if you provide an answer` with your completed code and answers then proceed to run the cell!

Note that some of the questions in this assignment will have hidden tests. This means that no feedback will be given as to the correctness of your solution. It will be left up to you to decide if your answer is sufficiently correct. These questions are worth 2 points.

In [ ]:
# Import libraries needed for this lab
import pandas as pd
import test_assignment4 as t
from hashlib import sha1
import altair as alt

## 1.  Python Datatypes

**Question 1(a)** <br> {points: 1}  

Match the objects below to their associated correct datatype.
 
    a) 'False'     
    b) 67       
    c) None      
    d) [False, 'Wrong', None, "Lies"]      
    e) True      
    f) {'Name': 'Cookies and Cream', 'Brand': "Hersey's", 'Weight' = 48}        
    g) "None"      
    h) 67.0        
    i) ('Never', 'gonna', 'give', 'you', 'up')          
    j) 7.777777          
    k) "45"          


In the code chunk below, assign each object to it's corresponding datatype by putting the  following datatypes in quotes (as a string!):       
`int`, `float`, `bool`, `str`, `list`, `tuple`, `dict`, `NoneType`.


_Make sure your answer is written as the datatype selected above. _

***Example:***

    z)   23

`answer1_z = 'int'`

In [ ]:
answer1_a = None
answer1_b = None 
answer1_c = None
answer1_d = None
answer1_e = None
answer1_f = None
answer1_g = None
answer1_h = None
answer1_i = None
answer1_j = None
answer1_k = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_1a([answer1_a,answer1_b,answer1_c,answer1_d,answer1_e,answer1_f,answer1_g,answer1_h,
         answer1_i,answer1_j,answer1_k])

## 2. Pandas Datatypes

For the next couple questions, please refer to this table referencing different astronauts and their space accomplishments: 

|    | Name |   Year |   Group | Status   | Birth_Date | Birth_Place    | Gender   | Graduate | Military | Space_Walks | Space_Walks_hrs | Deceased   | Missions  |
|---:|:-----|----:|-----:|:-----|:-------|:--------|:---------|:---------|:------|-----:|-----:|:-----------|:-----|
|**0**| Neil A. Armstrong |   1962 |2 | Deceased | 1930-08-05| Wapakoneta, OH | Male| Aerospace Engineering   | False | 1 |  2   | True  | [Gemini 8,  Apollo 11]   |
|**1**| Buzz Aldrin  |1963 |  3 | Retired  | 1930-01-20| Montclair, NJ  | Male     | Astronautics | True | 2 | 8 | False      | [ Gemini 12,  Apollo 11] |
|**2**| Patricia Hilliard Robertson |   1998 |   17 | Deceased | 1963-03-12| Indiana, PA | Female   | Medicine| False| 0 |0   | True| [] |
|**3**| Alfred M. Worden |   1966 |  5 | Retired  | 1932-02-07| Jackson, MI    | Male |Aeronautical & Astronautical Engineering | True | 1 | 0.5 | False      | [Apollo 15]|

**Question 2(a)** <br> {points: 1}  

For the dataframe above what is the data dtype of each column? Save your answer as a string in an object named with the column label.      
Remember you can chose from the following data types: 

- `object` 
- `int64`   
- `float64`   
- `datetime64`   
- `bool`

In [ ]:
Name = None 
Year = None
Group = None
Status = None 
Birth_Date = None
Birth_Place = None
Gender = None
Graduate = None
Military = None
Space_Walks = None
Space_Walks_hrs = None
Deceased = None
Missions = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_2a([Name,Year,Group,Status,Birth_Date,Birth_Place,Gender,Graduate,
         Military,Space_Walks,Space_Walks_hrs,Deceased,Missions])

**Question 2(b)** <br> {points: 2} 

Using the dataframe above, which of the columns contain cell values that are **NOT** of type `str`?

_Assign your answer to an object called `answer2_b` in the code chunk below. Place each column name in a list._

_For example if you believe the answer is `Name`, `Year` and `Group` your answer would like this:_  

`answer2_b = ['Name', 'Year', 'Group']`

In [ ]:
answer2_b = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
# check that the variable exists
assert 'answer2_b' in globals(
), "Please make sure that your solution is named 'answer2_b'"

# This test has been intentionally hidden. It will be up to you to decide if your solution
# is sufficiently good.

**Question 2(c)** <br> {points: 1}  

Let's try the same time with a new dataframe below: 

|  | show_id| categ|title|director| cast|us_made|date_added|release_year| rating| duration| listed_in| description|
|--:|:-------|:----|:-----|:--------|:----|:------|:---------|-----------:|:------|:--------|:---------|------------:|
|**0**| 70044595  | Movie   | Monster House   | Gil Kenan   | [Mitchel Musso, Sam Lerner, Spencer Locke, Steve Buscemi, Kathleen Turner, Jason Lee, Jon Heder, Maggie Gyllenhaal] | TRue  | 01-Nov-19  | 2006 | PG  | 91 min | Children & Family Movies, Comedies   |  NaN |
|**1**| 7oo56441  | Movie   | Teenage Mutant Ninja Turtles| Kevin Munroe    | [Chris Evans, Sarah Michelle Gellar, Mako Iwamatsu, Kevin Smith, Patrick Stewart, Zhang Ziyi, Laurence Fishburne]   | NaN| 01-May-19|2007 | PG| 87 min     | Children & Family Movies, Comedies   |NaN |
|**2**| 80164032  | Movie   | A Plastic Ocean| NaN | Tanya Streeter | False| 04-Oct-19|2016 | PG       | 100 min    | Documentaries  |NaN |
|**3**| 80036412  | TV Show | A.D. Kingdom and Empire  | NaN | [Juan Pablo Di Pace, Adam Levy, Chipo Chung, Babou Ceesay, Emmett Scanlan, Will Thorp, Richard Coyle] | True.     | 15-Dec-17|2015 | 14| 46 mins| TV Dramas|NaN |
|**4**| 70196145  | TV Show | New Girl| NaN| [Zooey Deschanel, Jake Johnson, Max Greenfield, Hannah Simone, Lamorne Morris, Damon Wayans Jr.]| True| April 11, 2019 |2017 | 14| 28 mins  | Romantic TV Shows, TV Comedies|NaN |
|**5**| 60029154  | Movie| Terminator 3: Rise of the Machines | Jonathan Mostow | [Arnold Schwarzenegger, Nick Stahl, Claire Danes, Kristanna Loken, David Andrews, Mark Famiglietti]| True| 01-Jan-20|2003 | R| 109 min    | Action & Adventure, Sci-Fi & Fantasy |NaN |

What are the data types of the values within each column?

Save your answers as a string in an object named with the column label.      
Remember you can chose from the following data types: 

- `str` 
- `int`   
- `float`   
- `Timestamp`   
- `bool`

In [ ]:
show_id = None 
categ = None
title = None 
director = None
cast = None
us_made = None
date_added = None
release_year = None
rating = None
duration = None
listed_in = None
description = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_2c([show_id,categ,title,director,cast,us_made,date_added,release_year,
         rating,duration,listed_in,description])

# 3. Gapminder

Remember the`gapminder.csv` data that we used in Assignment 3.

In [ ]:
gapminder = pd.read_csv('data/gapminder.csv')
gapminder

**Question 3(a)** <br> {points: 1} 

Use `.dtypes` to find the data type of each column.

In [ ]:
country = None
year_2012 = None
year_2013 = None
year_2014 = None
year_2015 = None
year_2016 = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_3a([country,year_2012,year_2013,year_2014,year_2015,year_2016])

**Question 3(b)** <br> {points: 1} 

Similarly as we did in the last assignment, melt the data to produce a single column named `Year` that contain the years 2012 - 2014 and a new column named `Population` with associated population values. Name the long dataframe `gapminder_long`.

In [ ]:
gapminder_long = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer
gapminder_long.shape

In [ ]:
t.test_3b(gapminder_long)

**Question 3(c)** <br> {points: 1} 


What are the datatypes of the columns `Year` and `Population`in the `gapminder_long` dataframe?   
 Save them in the objects named `Year_type` and `Population_type`.

In [ ]:
Year_type = None
Population_type = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer
print(Year_type)
print(Population_type)

In [ ]:
t.test_3c([Year_type,Population_type])

**Question 3(d)** <br> {points: 2} 

If we attempt to take the range of the years in the data we obtain the following error:

In [ ]:
# Uncomment the code below to see the error
# max(gapminder_long['Year']) - min(gapminder_long['Year'])

Which of the following most appropriately explains what is happening with the `Year` variable. 


A) When `.melt()` was used, it converted the `Year` values from data types `int` to `str`.  

B) The `Year` column labels were always of type `str`. When melted, it converted the labels to cell values so the labels became cell values of type `str` and we cannot use a subtraction operator on values of type `str`. 

C) The `Year` column labels were always of type `str`. When melted, it converted the labels to cell values so the labels became cell values of type `str`  and we cannot use the verbs `max()` and `min()` on values of type `str`. 

D) There is no column named `Year` and so the code cannot execute. 

*Answer in the cell below using the uppercase letter associated with your answer. Place your answer between `""`, assign the correct answer to an object called `answer3_d`.*

In [ ]:
answer3_d = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
# check that the variable exists
assert 'answer3_d' in globals(
), "Please make sure that your solution is named 'answer3_d'"

# This test has been intentionally hidden. It will be up to you to decide if your solution
# is sufficiently good.

**Question 3(e)** <br> {points: 1} 


Tranform the column `Year` in the `gapminder_long` dataframe into a more appropriate dtype.     
Name the new dataframe object `gm_long_fixed`.

In [ ]:
gm_long_fixed = None
# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_3e(gm_long_fixed)

**Question 3(f)** <br> {points: 1} 

After casting the column `Year` into a more appropriate data type, does the code for obtaining the range of years in the data (from question 3d) execute without errors with `gm_long_fixed`? 

A) No, since the verbs `max()` and `min()` cannot be used on values with the new data type.

B) No, since subtraction cannot be done on on values with the new data type.

C) Yes it executes and the range is 2.

D) Yes, it executes and the range is 1. 

*Answer in the cell below using the uppercase letter associated with your answer. Place your answer between `""`, assign the correct answer to an object called `answer3_f`.*

In [ ]:
answer3_f = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_3f(answer3_f)

## 4. Lists, Sets and Tuples

**Question 4** <br> {points: 10}  

Which data structure(s) describe the following statements  (multiple datatypes are possible): 

    a) Elements cannot be accessed with square brackets 
    b) Can be sliced, take repeated values, and entries can be changed and edited.   
    c) Cannot be sliced and entries can be independently deleted.   
    d) A set of key value pairs.  
    e) Immutable.  
    f) Are created with parentheses.   
    g) Can be sliced.   
    h) Can be split into their separate entries with `.split()`.  
    i) Outputted when using `.split()`.  
    j) Are created with curly brackets.    

 <br> 


Save all possible answers as strings within a list.      
Remember you can chose from the following data types: 

- `str` 
- `list`   
- `tuple`   
- `set`   
- `dict`   

***Example:***    

`answer4_z = ['set', 'dict']`

In [ ]:
answer4_a = None
answer4_b = None 
answer4_c = None
answer4_d = None
answer4_e = None
answer4_f = None
answer4_g = None
answer4_h = None
answer4_i = None
answer4_j = None
answer4_k = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_4a([sorted(answer4_a),sorted(answer4_b),sorted(answer4_c),sorted(answer4_d),sorted(answer4_e),
          sorted(answer4_f),sorted(answer4_g),
         sorted(answer4_h),sorted(answer4_i),sorted(answer4_j)])

## 5. Workforce Pay Rates

The data named `workforce-pay-rates-and-gender.csv`  was aquired from the [City of Vancouver's Open Data Portal](https://opendata.vancouver.ca/explore/dataset/workforce-pay-rates-and-gender/information/?sort=classification). 
It provides a look at the range of hourly wages for city jobs across Vancouver including the gender of staff within sector classification.  

***Note: many popular datasets have sex as a feature where the possible values are male and female. This representation reflects how the data were collected and is not meant to imply that, for example, gender is binary.***

The data we are reading in is contained in a json file. It looks like the output of the object `data` below.

In [ ]:
# ignore this code and instead focus on the output of data in the next cell
import json

with open('data/workforce-pay-rates-and-gender.json') as file:
    data = json.load(file)

In [ ]:
# Uncomment out the next line to view the object

# data

**Question 5(a)**  <br> {points: 1}  

What kind of data structure is a json file? 

A) List 

B) Tuple 

C) Dictionary

D) Set

*Answer in the cell below using the uppercase letter associated with your answer. Place your answer between `""`, assign the correct answer to an object called `answer5_a`.*

In [ ]:
answer5_a = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_5a(answer5_a)

**Question 5(b)**  <br> {points: 1}  

Us the appropriate verb to convert data into a dataframe.    
Name the object `van_wages`.

In [ ]:
van_wages = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_5b(van_wages)

**Question 5(c)**  <br> {points: 1}  


Created a column for the total number of people with each classification, and name the column  `Total`. 
Name the new object `van_wages_total`.

In [ ]:
van_wages_total = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_5c(van_wages_total)

**Question 5(d)**  <br> {points: 2}  

Which columns in `van_wages_total` will throw an error if the ***sum*** of the column is attempted to be calculated.  

Save the column name(s) as strings in a list as an object named `answer5_d`.        

***Example:***

`answer6_e = ['Year', 'Union', 'Minimum hourly rate']`

In [ ]:
answer5_d = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
# check that the variable exists
assert 'answer5_d' in globals(
), "Please make sure that your solution is named 'answer5_d'"

# This test has been intentionally hidden. It will be up to you to decide if your solution
# is sufficiently good.

**Question 5(e)**  <br> {points: 1}  

Which columns in `van_wages_total` will throw an error if the ***mean*** of the column is attempted to be calculated.

Save the column name(s) as strings in a list as an object named `answer5_e`.    

***Example:***

`answer5_e = ['Year', 'Union', 'Minimum hourly rate']`


If you think that none of the columns will throw an error than answer will be an empty list `[]`.

In [ ]:
answer5_e = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_5e(answer5_e)

## 6. Lists and Operations with Weather

Below is the upcoming 7 day weather forecast  displayed in a dataframe: 

|    | day       | description       |   day_temperature |   night_temperature |   pop | wind   |   hrs_sun | rain   |
|---:|:----------|:------------------|------------------:|--------------------:|------:|:-------|----------:|:-------|
|  0 | Monday    | sunny             |                22 |                  14 |    10 | 7 SW   |        15 |        |
|  1 | Tuesday   | sunny             |                21 |                  15 |     0 | 8 S    |        15 |        |
|  2 | Wednesday | showers           |                23 |                  14 |    80 | 13 SW  |         6 | 1-3 mm |
|  3 | Thursday  | cloudy            |                23 |                  14 |    20 | 10 W   |         9 |        |
|  4 | Friday    | chance of showers |                22 |                  14 |    70 | 8 SE   |         5 | ~1 mm  |
|  5 | Saturday  | chance of showers |                21 |                  12 |    40 | 21 W   |         4 | ~1 mm  |
|  6 | Sunday    | chance of showers |                22 |                  13 |    40 | 12 W   |         5 | ~1 mm  |

**Question 6(a)**  <br> {points: 1}

Create the data frame using the data structures provided below and name the dataframe `weather`.

In [ ]:
monday = ['Monday', 'sunny', 22.0, '14.0', '10', '7 SW', 15.0, None]
tuesday = ['Tuesday', 'sunny', 21.0, '15.0', '0', '8 S', 15.0, None]
wednesday = ['Wednesday', 'showers', 23.0, '14.0', '80', '13 SW', 6.0, '1-3 mm']
thursday = ['Thursday', 'cloudy', 23.0, '14.0', '20', '10 W', 9.0, None]
friday = ['Friday', 'chance of showers', 22.0, '14.0', '70', '8 SE', 5.0, '~1 mm']
saturday = ['Saturday', 'chance of showers', 21.0, '12.0', '40', '21 W', 4.0, '~1 mm']
sunday = ['Sunday', 'chance of showers', 22.0, '13.0', '40', '12 W', 5.0, '~1 mm']


names = ['day', 'description',  'day_temperature', 'night_temperature', 'pop', 'wind', 'hrs_sun', 'rain']

In [ ]:
weather = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_6a(weather)

**Question 6(b)**  <br> {points: 2}

What data types or data structure are the object labeled by the days of the week? 


A) List 

B) Tuple 

C) Dictionary

D) Set

*Answer in the cell below using the uppercase letter associated with your answer. Place your answer between `""`, assign the correct answer to an object called `answer6_b`.*

In [ ]:
answer6_b = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
# check that the variable exists
assert 'answer6_b' in globals(
), "Please make sure that your solution is named 'answer6_b'"

# This test has been intentionally hidden. It will be up to you to decide if your solution
# is sufficiently good.

**Question 6(c)**  <br> {points: 1}

What is the average chance of precipitation (`pop`) over the week? Answer using the `.mean()` function and convert datatypes if needed.     
Save as object as `pop_mean`.

In [ ]:
pop_mean = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_6c(pop_mean)

**Question 6(d)**  <br> {points: 1}

Create a new column named `temp_avg` which is the average temperature for the whole day (day and night temperature).    
Name the new dataframe `weather_ext`.       
_Hint: You may need to make changes to the `night_temperature` column first._

In [ ]:
weather_ext = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_6d(weather_ext)

**Question 6(e)**  <br> {points: 2}

Use `.str.split()` with argument `expand=True` to split the column `wind` into a 2 separate columns named  `wind_speed` and `wind_direction`. Make sure the `wind_speed` column is of dtype `int64`.    
Name the new dataframe `wind_stats`.

In [ ]:
wind_stats = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_6e(wind_stats)

**Question 6(f)**  <br> {points: 2}

Merge or concatenate these columns back with the original dataframe `weather_ext`. 
Name the new dataframe `weather_extended`.

In [ ]:
weather_extended = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_6f(weather_extended)

**Question 6(g)**  <br> {points: 1}

Create a line plot using `alt.chart(..., width=500, height=300).mark_line()` where the x and y axis are `day` and `wind_speed` respectively. Don't forget to give it a title using the `.properties(title="")` function. 

If you want the days of the week to be sorted correctly, use the argument      
`sort=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']` within `alt.X()`. 

Name the plot `wind_plot`.

In [ ]:
# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_6g(wind_plot)

Before submitting your assignment please do the following:

- Read through your solutions
- **Restart your kernel and clear output and rerun your cells from top to bottom** 
- Makes sure that none of your code is broken 
- Verify that the tests from the questions you answered have obtained the output "Success"

This is a simple way to make sure that you are submitting all the variables needed to mark the assignment. This method should help avoid losing marks due to changes in your environment.

## Attributions
- Gapminder Dataset - [Gapminder](https://www.gapminder.org/data/)
- Astronaut Dataset - [Kaggle](https://www.kaggle.com/nasa/astronaut-yearbook?select=astronauts.csv)
- Netflix Dataset - [Kaggle](https://www.kaggle.com/shivamb/netflix-shows?select=netflix_titles.csv)
- MDS DSCI 511 - Programming for Data Science - [MDS's GitHub website](https://ubc-mds.github.io/course-descriptions/DSCI_511_prog-dsci/)

## Module Debriefing

If this video is not showing up below, click on the cell and click the ▶ button in the toolbar above.

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo('bHmaiwexLTc', width=854, height=480)