# Programming in Python for Data Science 

# Assignment 2: Table Manipulation and Chaining

You can't learn technical subjects without hands-on practice. The assignments are an important part of the course. To submit this assignment you will need to make sure that you save your Jupyter notebook. 

Below are the links of 2 videos that explain:

1. [How to save your Jupyter notebook](https://youtu.be/0aoLgBoAUSA) and,       
2. [How to answer a question in a Jupyter notebook assignment](https://youtu.be/7j0WKhI3W4s).

### Assignment Learning Goals:

By the end of the module, students are expected to:
- Demonstrate how to rename columns of a dataframe using [`.rename()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html).
- Create new or columns in a dataframe using [`.assign()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.assign.html) notation.
- Drop columns in a dataframe using [`.drop()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)
- Use `df[]` notation to filter rows of a dataframe.
- Calculate summary statistics on grouped objects using [`.groupby()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html) and [`.agg()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html).
- Explain when chaining is appropriate.
- Demonstrate chaining over multiple lines and verbs.

This assignment covers [Module 2](https://prog-learn.mds.ubc.ca/en/module2) of the online course. You should complete this module before attempting this assignment.

Any place you see `...`, you must fill in the function, variable, or data to complete the code. Substitute the `None` and the `raise NotImplementedError # No Answer - remove if you provide an answer` with your completed code and answers then proceed to run the cell!

Note that some of the questions in this assignment will have hidden tests. This means that no feedback will be given as to the correctness of your solution. It will be left up to you to decide if your answer is sufficiently correct. These questions are worth 2 points.

In [ ]:
# Import libraries needed for this lab
from hashlib import sha1
import test_assignment2 as t
import pandas as pd
import altair as alt

## 1. Loading files with Pandas 

In the previous module we loaded data from `csv` files using `pd.read_csv()` with limited arguments. However, most commonly you will need to create additional arguments or `pd.read_excel()` to load in a dataset to a dataframe that you can work with. `pd.read_excel()` and `pd.read_csv()` have many parameters that help read data files of different structures and formats.

 In the `data` folder there are 8 different `.csv` and `.xlsx` files named `wine_letter.csv/.txt/.xlsx` (example- if the question is 1(f), the corresponding data is named `wine_f.csv`). Look at each of these files and use `pd.read_csv()` or `pd.read_excel()` to load these data so that they resemble the following:

|   | Grape | Origin | Alcohol | pH | Color | Aroma |
| :---: | :---: | :---: | :---: | :---: | :---: | :---: |
| **0** |  Chardonnay | Australia | 14.23 | 3.51 | White | Floral |
| **1** |  Pinot Grigio | Italy | 13.20 | 3.30 | White | Fruity |
| **2** |  Pinot Blanc | France | 13.16 | 3.16 | White | Citrus |
| **3** |  Shiraz | Chile | 14.91 | 3.39 | Red | Berry |
| **4** |  Malbec | Argentina | 13.83 | 3.28 | Red | Fruity |

**Question 1(a)**  <br> {points: 1}   

Load in the file named `wine_a.csv` using the appropriate verb `pd.read_csv()` or `pd.read_excel()` and arguments and save it as an object named `df_1a`.

In [ ]:
df_1a = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_1a(df_1a)

**Question 1(b)**  <br> {points: 1}   

Load in the file named `wine_b.csv` using the appropriate verb `pd.read_csv()` or `pd.read_excel()` and arguments and save it as an object named `df_1b`.

In [ ]:
df_1b = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_1b(df_1b)

**Question 1(c)**  <br> {points: 1}   

Load in the file named `wine_c.csv` using the appropriate verb `pd.read_csv()` or `pd.read_excel()` and arguments and save it as an object named `df_1c`.

In [ ]:
df_1c = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_1c(df_1c)

**Question 1(d)**  <br> {points: 1}   

Load in the file named `wine_d.txt` using the appropriate verb `pd.read_csv()` or `pd.read_excel()` and arguments and save it as an object named `df_1d`.

In [ ]:
df_1d = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_1d(df_1d)

**Question 1(e)**  <br> {points: 2}   

Load in the file named `wine_e.csv` using the appropriate verb `pd.read_csv()` or `pd.read_excel()` and arguments and save it as an object named `df_1e`.

In [ ]:
df_1e = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
assert 'df_1e' in locals(), "Your answer should be named 'df_1e'"

# Note that this test has been hidden intentionally.
# It will provide no feedback as to the correctness of your answers.
# Thus, it is up to you to decide if your answer is sufficiently correct.

**Question 1(f)**  <br> {points: 1}   

Load in the file named `wine_f.txt` using the appropriate verb `pd.read_csv()` or `pd.read_excel()` and arguments and save it as an object named `df_1f`.

In [ ]:
df_1f = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_1f(df_1f)

**Question 1(g)**  <br> {points: 1}   

Load in the file named `wine_g.xlsx` using the appropriate verb `pd.read_csv()` or `pd.read_excel()` and arguments and save it as an object named `df_1g`.

You will need to look at the file which you can do by right clicking the file in the toolbar on the left of the screen and clicking on ***Download***.

In [ ]:
df_1g = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_1g(df_1g)

**Question 1(h)**  <br> {points: 1}   

Load in the file named `wine_h.csv` using the appropriate verb `pd.read_csv()` or `pd.read_excel()` and arguments and save it as an object named `df_1h`.


You will need to look at the file which you can do by right clicking the file in the toolbar on the left of the screen and clicking on ***Download***.

In [ ]:
df_1h = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_1h(df_1h)


**Question 1(i)**  <br> {points: 1}   

Pandas can also load files directly using a url. Let's explore this functionality using a simple dataset showing the number of people that immigrate to Canada from the US and Britain located [here](https://raw.githubusercontent.com/plotly/datasets/master/Move%20to%20Canada.csv).

Read the 'Move to Canada' .csv file using `pd.read_csv()` and store the dataframe as the variable `df`.

In [ ]:
df = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_1i(df)

## 2. Vancouver Street Tree dataset <a name='2.6'></a>

The City of Vancouver, nicknamed [Raincouver](https://blogs.ubc.ca/camdrohan/2012/08/14/the-truth-about-raincouver/) or [Raincity](https://en.wikipedia.org/wiki/Nicknames_of_Vancouver) surprises many non-residents by the sheer quantity of rain it receives. To locals, this is simply the expectations of living in a rainforest. The rainfall mixed with the temperate climate provides the perfect environment to maintain numerous species of trees across the city. Every year, Vancouver hosts a [cherry blossom festival](https://www.vcbf.ca/)  where people can take walks to view the blossoming cherry trees across the city,  post cherry blossom photos and attend a Cherry Jam Concert. People more interested in grandeur can explore the [giants in Stanley Park](https://www.insidevancouver.ca/2019/06/27/where-to-see-big-trees-in-vancouver/). 
In any case, The city has provided open data to all of Vancouver's street trees. The data includes the following:



-  TREE_ID
- CIVIC_NUMBER - Street number
- STD_STREET - Street name
- GENUS_NAME 
- SPECIES_NAME 
- CULTIVAR_NAME 
- COMMON_NAME 
- ASSIGNED - Indicates whether the address is made up to associate the tree with a nearby  lot (Y=Yes or N=No)
- ROOT_BARRIER - Root barrier installed (Y = Yes, N = No)
- PLANT_AREA - B = behind sidewalk, G = in tree grate, N = no sidewalk, C = cutout, a number  indicates boulevard width in feet
- ON_STREET_BLOCK
- ON_STREET
- NEIGHBOURHOOD_NAME 
- STREET_SIDE_NAME - The street side which the tree is physically located on (Even, Odd or Median  (Med))
- HEIGHT_RANGE_ID - 0-10 for every 10 feet (e.g., 0 = 0-10 ft, 1 = 10-20 ft, 2 = 20-30 ft, and10 = 100+ ft)
- DIAMETER - in inches
- CURB - Curb presence (Y = Yes, N = No)
- DATE_PLANTED 
- Geom

**Question 2(a)**  <br> {points: 1}  

Load the `street-trees.csv` dataset into a pandas dataframe named `trees`.     
_Hint: How is your file delimited?_

In [ ]:
trees = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_2a(trees)

**Question 2(b)**  <br> {points: 1}  

Create a new column named `DIAMETER_CM` that contains the each tree's diameter in cm. 
Don't forget to save the dataframe as the object `trees` to maintain the changes.    
_Note that 1 inch = 2.54cm._

In [ ]:
CM_PER_INCH = 2.54
# trees = trees.assign(...)

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_2b(trees)

**Question 2(c)**  <br> {points: 1}  
Filter so we can concentrate our attention on the cherry trees - specifically species `SERRULATA`.   
Save the resulting dataframe in an object called cherry.

In [ ]:
# cherry = trees[...[...] == ...]

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_2c(cherry)

**Question 2(d)**  <br> {points: 1}  

Group the cherry trees by their common name. Save the results in an object called `cherry_group`.

In [ ]:
cherry_group = None 

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_2d(cherry_group)

**Question 2(e)**  <br> {points: 1}  

For each type of cherry tree (`COMMON_NAME`) find the average diameter in cm and the number of the cherry trees for that cherry tree type.   
Name the new dataframe as `cherry_stats`.    
*Hint: Your dataframe should have the shape (16, 2).*

In [ ]:
# cherry_stats = (...
#                 .agg(...),
#                 .loc[...])

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer
cherry_stats

In [ ]:
t.test_2e(cherry_stats)

**Question 2(f)**  <br> {points: 1}  

Graph the mean diameter of `cherry_stats`.  Sort the values in ascending order before you use graph your results. Make sure you add a discriptive title and label the y-axis.        
Save the plot in an object called `cherry_graph`.

In [ ]:
# your code here
raise NotImplementedError # No Answer - remove if you provide an answer
cherry_graph

In [ ]:
t.test_2f(cherry_graph)

## 3. The Titanic dataset <a name='2.6'></a>

The sinking of the RMS Titanic is one of the most infamous shipwrecks in history.  On April 15, 1912, during her maiden voyage, the Titanic sank after colliding with an iceberg. The file *titanic.csv* contains data of 1309 passengers who were on the ship. For each passenger, the following data are recorded:
* survival - Survival (0 = No; 1 = Yes)
* class - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
* name - Name
* sex - Sex
* age - Age
* sibsp - Number of Siblings/Spouses Aboard
* parch - Number of Parents/Children Aboard
* ticket - Ticket Number
* fare - Passenger Fare
* cabin - Cabin
* embarked - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
* boat - Lifeboat (if survived)
* body - Body number (if did not survive and the body was recovered)

***Note: many popular datasets have sex as a feature where the possible values are male and female. This representation reflects how the data were collected and is not meant to imply that, for example, gender is binary.***

In this exercise, you will perform a number of wrangling operations to manipulate and extract subsets of the data.

**Question 3(a)**  <br> {points: 1}   


Load the `titanic.csv` dataset into a pandas dataframe named `titanic_df`.     
*Hint: Remember where we store our data*

In [ ]:
titanic_df = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_3a(titanic_df)

**Question 3(b)**  <br> {points: 1}  


The column names `sibsp` and `parch` are not very descriptive. Rename these columns to `siblings_spouses` and `parents_children` respectively.

In [ ]:
# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_3b(titanic_df)

**Question 3(c)**  <br> {points: 1}  

Drop the columns `body` and `cabin`, using a single line of code and save it as an object named `dropped_df`.

In [ ]:
dropped_df = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_3c(dropped_df)

**Question 3(d)**  <br> {points: 2}  
Which passengers survived (`survived = 1`) the disaster? Save the filtered **dataframe** in an object named `survived_titanic`.

In [ ]:
survived_titanic = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
assert 'survived_titanic' in locals(), "Your answer should be named 'survived_titanic'"

# Note that this test has been hidden intentionally.
# It will provide no feedback as to the correctness of your answers.
# Thus, it is up to you to decide if your answer is sufficiently correct.

**Question 3(e)**  <br> {points: 1}  
How many people survived the titanic?       
Save this as just a number in an object named `survivors`.

In [ ]:
survivors = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_3e(survivors)

**Question 3(f)**  <br> {points: 1}  

Which passengers were in first class and younger than 16?   
Save the filtered **dataframe** in an object named `first_class_pass`.

In [ ]:
first_class_pass = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_3f(first_class_pass)

**Question 3(g)**  <br> {points: 1}  

Make a new dataframe containing only the columns `age` and `fare` on the full `titanic_df` dataframe and take the mean of these columns using chaining.   
Save it as an object named  `mean_age_fare`.

In [ ]:
mean_age_fare= None 

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_3g(mean_age_fare)

**Question 3(h)**  <br> {points: 1}  

Let's make a groupby object by the column `sex`  on our full dataframe `titanic_df` and find the average value each of each column for `male` and `female` passengers.    
Save the results in a **dataframe** object named `titanic_sex_mean`.

In [ ]:
titanic_sex_mean = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_3h(titanic_sex_mean)

**Question 3(i)**  <br> {points: 1}  

To answer the question, assign the letter associated with the correct answer to a variable in the code cell below:   
Which statement below is accurate?

A. The average age of male passengers is lower than the total passenger mean age.    

B. The female passenger fare average is greater than the male passenger fare average.  

C. The male fare average is greater than than the total passenger fare average. 


*Answer in the cell below using the uppercase letter associated with your answer. Place your answer between `""`, assign the correct answer to an object called `answer3_i`.*

In [ ]:
answer3_i = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_3i(answer3_i)

**Question 3(j)**  <br> {points: 1}  

What was the highest and lowest fair paid by male and female passengers? Use `.agg()` and save the dataframe as object `high_low_fare`.

In [ ]:
high_low_fare = None 

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_3j(high_low_fare)

**Question 3(k)**  <br> {points: 1}  

Use chaining to obtain the name of the youngest known female passenger and save it as object `youngest_female`.    
This object should be a value not a dataframe.

In [ ]:
youngest_female = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_3k(youngest_female)

## 4. Titanic Analysis  


In exercise 3, we explored the dataset somewhat arbitrarily, trying to gain some insights into the data. In this exercise, we will carry out a number of steps to answer a single analysis question. 

> "How does a passenger's class, sex and age affect their chance of survival?"

Use chaining to answer each question.

One thing you may notice in the data is that there are missing values in the survived column that present themselves as`NaN`. This can be a potential problem as it could cause the analyst to draw inaccurate conclusions about the data. For this question, we will disregard this issue to concentrate on the skills we have learned up until now. We will, however, be returning to this topic further into the course and discuss how missing data effects analysis and different methods of handling them.

**Question 4(a)**  <br> {points: 1}  

Beginning the analysis with passenger class, find the mean survival rate of the 3 classes and plot this as a bar chart. Name the object `group_class`. Make sure that you give the plot a descriptive title and y-axis label.
You will need to groupby `pclass` and inorder to find the `mean` survival rate. Don't forget to `reset_index()` when plotting.

In [ ]:
# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_4a(group_class)

**Question 4(b)**  <br> {points: 1}  

To answer the question, assign the letter associated with the correct answer to a variable in the code cell below:   
Which statement below is accurate?

A. Passengers from 1st class had the highest survival rate

B. Passengers from 2nd class had the highest survival rate 

C. Passengers from 3rd class had the highest survival rate


*Answer in the cell below using the uppercase letter associated with your answer. Place your answer between `""`, assign the correct answer to an object called `answer4_b`.*

In [ ]:
answer4_b = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_4b(answer4_b)

**Question 4(c)**  <br> {points: 1}  

Plot the mean survival rates for each sex using a bar chart. Name the object `group_sex`. Make sure that you give the plot a descriptive title and y-axis label. You will need to groupby `sex` in order to find the `mean` survival rate. Don't forget to `reset_index()` when plotting.

In [ ]:
# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_4c(group_sex)

**Question 4(d)**  <br> {points: 1}  

To answer the question, assign the letter associated with the correct answer to a variable in the code cell below:   
Which statement below is accurate?

A. Male passengers had the highest survival rate

B. Female passengers had the highest survival rate 


*Answer in the cell below using the uppercase letter associated with your answer. Place your answer between `""`, assign the correct answer to an object called `answer4_d`.*

In [ ]:
answer4_d = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_4d(answer4_d)

**Question 4(e)**  <br> {points: 1}  


Before we can do anything let's categorize the ages into 4 age classes into a column named `age_group`. Use the following conditions for each age class
- younger than 20 column values  "youth"   
- 20-39 column values  "adult"
- 40-59 column values  "older adult"   
- Age 60 and older column values  "senior" 

Find the mean survival rate of each `age_group` and plot this as a bar chart. Name the object `age_plot`.

In [ ]:
# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_4e(age_plot)

**Question 4(f)**  <br> {points: 2}  

To answer the question, assign the letter associated with the correct answer to a variable in the code cell below:   
Which statement below is accurate?

A. youth passengers had the highest survival rate

B. adult passengers had the highest survival rate 

C. older adult passengers had the highest survival rate 

D. senior passengers had the highest survival rate 


*Answer in the cell below using the uppercase letter associated with your answer. Place your answer between `""`, assign the correct answer to an object called `answer4_f`.*

In [ ]:
answer4_f = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
assert 'answer4_f' in locals(), "Your answer should be named 'answer4_f'"

# Note that this test has been hidden intentionally.
# It will provide no feedback as to the correctness of your answers.
# Thus, it is up to you to decide if your answer is sufficiently correct.

**Question 4(g)**  <br> {points: 1}  

Let's go one step further now and do something a little new. Make a groupby object on 2 columns. Use columns `pclass` and `sex`. This is will give 6 separate groups: 
- Female and 1st class
- Female and 2nd class
- Female and 3rd class
- Male and 1st class
- Male and 2nd class
- Male and 3rd class

Next, find the mean value of the `survived` rate using `.loc[]` and sort them in decreasing survival rate.

In [ ]:
group_class_age= None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_4g(group_class_age)

**Question 4(h)**  <br> {points: 1}  
Now that you know how to group on multiple columns, We are going to try it on all 3 of the columns; `pclass`, `sex` and `age` . 

What is the maximum number of groups possible if we group by all 3 columns? 





*Answer in the cell below and assign the correct answer to an object called `answer4_h`*

In [ ]:
answer4_h = None

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_4h(answer4_h)

**Question 4(i)**  <br> {points: 1}  


Groupby `pclass`, `sex`, and `age_group` and find the mean value of the `survived` rate using `.loc[]`. Sort them in decreasing survival rate,  similarly to what you did in question 4(g)

In [ ]:
# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_4i(group_class_sex_age)

**Question 4(j)**  <br> {points: 1}  

Which of the 24 groups had a 100% rate of survival? Answer by creating an object with the class, then sex, then age group of the highest survival rate group. For example, if it were 2nd class adult males, your answer would be `[2, 'male', 'adult']`

In [ ]:
answer4_j = [2, 'male', 'adult']

# your code here
raise NotImplementedError # No Answer - remove if you provide an answer

In [ ]:
t.test_4j(answer4_j)

Before submitting your assignment please do the following:

- Read through your solutions
- **Restart your kernel and clear output and rerun your cells from top to bottom** 
- Makes sure that none of your code is broken 
- Verify that the tests from the questions you answered have obtained the output "Success"

This is a simple way to make sure that you are submitting all the variables needed to mark the assignment. This method should help avoid losing marks due to changes in your environment.

## Attributions
- City of Vancouver Open Data portal - [Street Trees Dataset](https://opendata.vancouver.ca/explore/dataset/street-trees/information/?disjunctive.species_name&disjunctive.common_name&disjunctive.height_range_id)
- MDS DSCI 523 - Data Wrangling course - [MDS's GitHub website](hhttps://ubc-mds.github.io/)

## Module Debriefing

If this video is not showing up below, click on the cell and click the  button in the toolbar above.

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo('zHK_l0YPcKA', width=854, height=480)